<div class="bg-primary-subtle text-center py-5 rounded-2">
  <h1 class="dispay-6 fw-bold">
    Income and Expense Tracking
  </h1>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="card">
      <form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate
        autocomplete="on">
        <div class="row">
          <div class="col-3">
            <label>Type</label>
          </div>
          <div class="col-2">
            <label class="containerType">Income
              <input type="radio" value="Income" checked="checked" (change)="toggleForms()" #Type="ngModel" name="Type"
                [(ngModel)]="service.formData.Type">
              <span class="checkmark"></span>
            </label></div>
          <div class="col-2">
            <label class="containerType">Expense
              <input type="radio" value="Expense" #Type="ngModel" (change)="toggleForms()" name="Type"
                [(ngModel)]="service.formData.Type">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div *ngIf="!service.isIncome" class="row">
          <div class="col-3">
            <label for="inputCategory">Category</label>
          </div>
          <div class="col-3">
            <select id="inputCategory" class="form-select" #Category="ngModel" name="Category"
              [(ngModel)]="service.formData.Category" required>
              <option *ngFor="let Category of categoryService.categories" [ngValue]="Category.Name">{{Category.Name}}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label>Amount</label>
          </div>
          <div class="col-3">
            <input class="form-control" data-original="100.00" data-id="1" data-limit="14" value="100.00"
              #Amount="ngModel" name="Amount" [(ngModel)]="service.formData.Amount" requireautocomplete="off" min="0"
              type="number" required>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label>Date</label>
          </div>
          <div class="col-3">
            <input type="date" class="form-control" #Date="ngModel" name="date" [(ngModel)]="service.formData.Date"
              required>
          </div>
        </div>
        <div *ngIf="!service.isIncome" id="paymentMethod" class="row">
          <div class="col-3">
            <label for="payment">Payment Method</label>
          </div>
          <div class="col-3">
            <select id="payment" class="form-select" #PaymentMethod="ngModel" name="PaymentMethod"
              [(ngModel)]="service.formData.PaymentMethod" required>
              <option value="cash" selected>Cash</option>
              <option value="cheque">Cheque</option>
              <option value="Credit">Credit Card</option>
              <option value="Debit">Debit Card</option>
            </select>
          </div>
        </div>
        <div *ngIf="service.isIncome" class="row">
          <div class="col-3">
            <label>Source</label>
          </div>
          <div class="col-3">
            <input class="form-control" placeholder="Salary.." #Source="ngModel" name="Source"
              [(ngModel)]="service.formData.Source">
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label>Description</label>
          </div>
          <div class="col-3">
            <input class="form-control" placeholder="Description" #Description="ngModel" name="Description"
              [(ngModel)]="service.formData.Description">
          </div>
        </div>
        <div class="form-group" *ngIf="!service.isUpdate">
          <div class="col-sm-8">
            <div class="checkbox"><label>
                <input type="checkbox" [(ngModel)]="service.isReturnHereChecked" [ngModelOptions]="{standalone: true}"
                  checked (click)="onclick()">
                After creating, return here.
              </label>
            </div>
          </div>
        </div>
        <div class="col-3">
          <button class="btn btn-md btn-info" type="submit">
            <label *ngIf="service.isUpdate">Update</label>
            <label *ngIf="!service.isUpdate">Create</label>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
