<div class="row">
  <div class="col-1">
    <label for="inputCurrency">Currency</label>
  </div>
  <div class="col-1">    <label>{{userService.newUser.CurrencyCode}}</label>
  </div>
  <div class="col-1">
    <select id="inputCurrency" class="form-control form-control-me" #Currency="ngModel" name="Currency"
      [(ngModel)]="userService.currentCurrency"  (change)="updateCurrency()" required>
      <option *ngFor="let Currency of Currencies" [ngValue]="Currency">{{Currency.cc}}</option>
    </select>
  </div>
</div>
<div class="mb-3">
</div>
