<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="dispay-6 fw-bold">
       Budget
    </h1>
    </div>
    <div class="row mt-3">
        <div class="card mb-2">
            <div class="card-header">
              My Budget
            </div>
            <div class="card-body">
              <table class="table table-hover">
                <thead>
                  <tr   >
                    <th scope="col">Month</th>
                    <th scope="col">Total Budget</th>
                    <th scope="col">Category</th>
                   <th scope="col">Remaining Amounts</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pd of service.list" (click)="populateForm(pd)">
                    <td>{{pd.Month}}</td>
                    <td>{{pd.TotalBudget}}</td>    
                    <td>{{pd.Category}}</td>
                    <td>{{pd.RemainingAmount}}</td>
                   <!--  <td *ngFor="let item of pd.AllocatedAmounts | keyvalue">
                      <ul class="list-group">
                        <li class="list-group-item">
                      Category: {{ item.key }}, Amounts: {{ item.value }}
                    </li>
                    </ul>
                    </td>-->
                    <td><span class="text-secondary">
                      <button type="button" class="btn btn-danger" (click)="onDelete(pd.Id)">Delete</button>
                    </span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      
          <div class="col-4">
            <app-budget-form></app-budget-form>
          </div>
         </div>
