<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="dispay-6 fw-bold">
      Debt
    </h1>
  </div>
  <div class="row mt-5">
    <div class="card mb-4">
      <div class="card-header">
        My Debts
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Debt Type</th>
              <th scope="col">Principal Amount</th>
              <th scope="col">Interest Rate</th>
              <th scope="col">Remaining Amount</th>
              <th scope="col">Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pd of service.list" (click)="populateForm(pd)">
              <td>{{pd.DebtType}}</td>
              <td>{{pd.PrincipalAmount}}</td>
              <td>{{pd.InterestRate}}</td>
              <td>{{pd.RemainingAmount}}</td>
              <td>{{pd.DueDate}}</td>
              <td><span class="text-secondary">
                <button type="button" class="btn btn-danger" (click)="onDelete(pd.Id)">Delete</button>
              </span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="col-4">
      <app-debt-form></app-debt-form>
    </div>
  </div>
  
