<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <a class="navbar-brand" href="dashboard">MyFinancePal</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="transaction">Income and Expense </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="budget">Budget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="goal">Saving Goals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="investment">Investment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="debt">Debt</a>
        </li>
      </ul>
     
    </div>
    <div class="nav-item dropdown" ngbDropdown>
      <button class="btn btn-info dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
        <span class="glyphicon glyphicon-log-out"></span> {{userServce.userName}}
      </button>
      <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
        <li ngbDropdownItem><a class="dropdown-item" href="/profile">My Profile</a></li>
        <li ngbDropdownItem><a class="dropdown-item" href="/setting">Settings</a></li>
        <li ngbDropdownItem><hr class="dropdown-divider"></li>
        <li ngbDropdownItem><a class="dropdown-item"  href="/resetPassword">Reset Password</a></li>
        <li ngbDropdownItem><a class="dropdown-item" (click)="logout()"  href="#">Log out</a></li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
