<!--<div class="login-page">
  <div class="form">
    <div *ngIf="!isLoginFormVisible" id="register-form">
      <form class="register-form" #form="ngForm" [class.submitted]="formSubmitted" novalidate>
        <input type="text" #userName="ngModel" name="name" [(ngModel)]="service.newUser.Name" placeholder="name"
          required />
        <input type="password" #password="ngModel" name="password" [(ngModel)]="service.newUser.Password"
          placeholder="password" required />
        <input type="email" #email="ngModel" name="email" [(ngModel)]="service.newUser.Email"
          placeholder="email address" required />
        <input type="date" name="birthdate" [(ngModel)]="service.newUser.Birthday" placeholder="YYYY-MM-DD" />
        <input type="text" name="phone" [(ngModel)]="service.newUser.PhoneNumber" placeholder="phone number" />
        <input type="text" name="address" [(ngModel)]="service.newUser.Address" placeholder="address" />
        <button (click)="onRegister(form)">create</button>
        <p class="message mouse-hover">Already registered? <a (click)="toggleForms()">Sign In</a></p>
      </form>
    </div>
    <div *ngIf="isLoginFormVisible" id="login-form">
      <form class="login-form">
        <input type="email" name="Email" [(ngModel)]="service.loginObj.Email" placeholder="Email address" />
        <input type="password" name="password" [(ngModel)]="service.loginObj.Password" placeholder="password" />
        <button (click)="onLogin()">login</button>
        <p class="message mouse-hover">Not registered? <a (click)="toggleForms()">Create an account</a></p>
      </form>
    </div>
  </div>
</div>-->


<div class="auth-main" *ngIf="isLoginFormVisible" id="login-form">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Hi, Welcome Back</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>
          <h5 class="my-4 d-flex justify-content-center">Sign in with Email address</h5>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" [(ngModel)]="service.loginObj.Email"
              value="mal@demo" />
            <label for="floatingInput">Email address / Username</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" value="12345"
              [(ngModel)]="service.loginObj.Password" />
            <label for="password">Password</label>
          </div>
          <div class="d-flex mt-1 justify-content-between">
            <div class="form-check">
              <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
              <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
            </div>
            <h5 class="text-secondary">
              <a href="javascript:">Forgot Password?</a>
            </h5>
          </div>
          <div class="d-grid mt-4">
            <button type="button" class="btn btn-secondary" (click)="onLogin()">Sign In</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/register']">Don't have an account?</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
