<div class="login-page">
    <div class="form">
      <div  *ngIf="!isLoginFormVisible" id="register-form">
      <form class="register-form" #form="ngForm"  [class.submitted]="formSubmitted" novalidate>
        <input type="text"  #userName="ngModel"  name="name" [(ngModel)]="service.newUser.Name" placeholder="name" required/>
        <input type="password"  #password="ngModel"  name="password" [(ngModel)]="service.newUser.Password" placeholder="password" required/>
        <input type="email"  #email="ngModel"  name="email" [(ngModel)]="service.newUser.Email" placeholder="email address" required/>
        <input type="date"name="birthdate" [(ngModel)]="service.newUser.Birthday" placeholder="YYYY-MM-DD"/>
        <input type="text"name="phone" [(ngModel)]="service.newUser.PhoneNumber" placeholder="phone number"/>
        <input type="text"name="address" [(ngModel)]="service.newUser.Address" placeholder="address"/>
        <button (click)="onRegister(form)">create</button>
        <p class="message mouse-hover">Already registered? <a (click)="toggleForms()">Sign In</a></p>
      </form>
    </div>
      <div *ngIf="isLoginFormVisible" id="login-form">
      <form class="login-form">
        <input type="email" name="Email" [(ngModel)]="service.loginObj.Email" placeholder="Email address"/>
        <input type="password" name="password" [(ngModel)]="service.loginObj.Password" placeholder="password"/>
        <button (click)="onLogin()">login</button>
        <p class="message mouse-hover">Not registered? <a  (click)="toggleForms()">Create an account</a></p>
      </form>
    </div>
    </div>
  </div>
