<div class="container">
    <div class="row mt-5">
      <div class="card">
        <form #form="ngForm" (submit)="onSubmit(form)" novalidate autocomplete="on">
  
          <div class="row">
            <div class="col-3">
              <label>Old Password</label>
            </div>
            <div class="col-3">
              <input type="password" class="form-control" #oldPassword="ngModel"
              name="oldPassword" [(ngModel)]="service.oldPassword" required>
            </div>
            <div class="col-3">
                <h6 style="color: red;" [ngStyle]="{'visibility': isWrongPassword? 'visible' : 'hidden'}" >Try again, the password is wrong</h6>
              </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label>New Password</label>
            </div>
            <div class="col-3">
              <input type="password" class="form-control" #newPassword="ngModel"
              name="newPassword" [(ngModel)]="service.newPassword" required >
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <label>Confirm New Password</label>
            </div>
            <div class="col-3">
              <input type="password" class="form-control" #confirmNewPassword="ngModel"
              name="confirmNewPassword" [(ngModel)]="service.confirmNewPassword" required>
            </div>
            <div class="col-3">
                <h6 style="color: red;" [ngStyle]="{'visibility': isConfirmPassword? 'visible' : 'hidden'}" >Try again, the password not match </h6>
              </div>
          </div>
          <div class="col-3">
            <button class="btn btn-info" type="submit">
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
