<div class="container">
  <form #form="ngForm" (submit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col">
      <label>From Date</label>
      <input type="date" class="form-control form-control-lg"  name="fromDate" 
        #fromDate="ngModel" [(ngModel)]="transactionService.fromDate" required>
    </div>
    <div class="col">
      <label>To Date</label>
      <input type="date" class="form-control form-control-lg"  name="toDate" #toDate="ngModel"
        [(ngModel)]="transactionService.toDate" required>
    </div>
    <div class="col">
      <label for="inputCategory">Category</label>
      <select id="inputCategory" class="form-select form-select-lg" #Category="ngModel" name="category"
        [(ngModel)]="transactionService.Category.Name" required>
        <option *ngFor="let Category of categoryService.categories" [ngValue]="Category.Name">{{Category.Name}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="d-grid col-2">
      <button class="btn btn-md btn-success" type="submit">
        Search
      </button>
    </div>
    </div>
  </form>
</div>

<div class="card-body" [ngStyle]="{'visibility': showCalculation ? 'visible' : 'hidden'}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Income Amount</th>
        <th scope="col">Expense Amount</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td [ngStyle]="{'--bs-table-color': '#0ae50a'}">{{transactionService.totalIncome}}{{userService.newUser.Symbol}}
        </td>
        <td [ngStyle]="{'--bs-table-color': 'red'}">{{transactionService.totalexpens}}{{userService.newUser.Symbol}}
        </td>
        <td [ngStyle]="{'--bs-table-color': transactionService.balanceAmount < 0 ? 'red' : '#0ae50a'}">
          {{transactionService.balanceAmount}}{{userService.newUser.Symbol}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="card-body" [ngStyle]="{'visibility': showCalculation ? 'visible' : 'hidden'}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
        <th scope="col">Date</th>
        <th scope="col">PaymentMethod</th>
        <th scope="col">Source</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pd of transactionService.filterList"
        [ngStyle]="{'--bs-table-color': pd.Type === 'Expense' ? 'red' : '#0ae50a'}">
        <td>{{pd.Type}}</td>
        <td>{{pd.Amount}}{{transactionService.userService.newUser.Symbol}}</td>
        <td>{{pd.Category}}</td>
        <td>{{pd.Date | date:"M/d/yyyy"}}</td>
        <td>{{pd.PaymentMethod}}</td>
        <td>{{pd.Source}}</td>
        <td>{{pd.Description}}</td>
      </tr>
    </tbody>
  </table>
</div>
