<div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr   >
          <th scope="col">Month</th>
          <th scope="col">Income Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{currentMonth}}</td>
          <td>{{transactionService.totalIncome}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr   >
            <th scope="col">Month</th>
            <th scope="col">Expense Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{currentMonth}}</td>
            <td>{{transactionService.totalexpens}}</td>
        </tr>
      </tbody>
    </table>
  </div>